# Ignore node_modules directory
node_modules/
academic-progress/

# Ignore all .env files
*.env

# Ignore JSON files
*.json

# Ignore log files
*.log

# Ignore specific directories
public/Sql/
my-react-app/
# /build/
uploads/
# Ignore temporary system files
# .DS_Store
# Thumbs.db
